/* CSS Document */
body {
    background: url('http://science-all.com/images/wallpapers/image-background/image-background-17.png') repeat center center;
    font-family: "Arial CE";
    font-size: 14px;
    color:black;
}
.header {
    color: black;
    font-style: italic;
    align-items: center;
    
}
.footer {
    color: black;
    font-style: italic;
    align-items: right;
    font-size: 8px;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 100px;
    color: black;
}
div.img:hover {
    border: 1px solid #777;
}
div.desc {
    padding: 15px;
    text-align: center;
    color: black;
}